*{
    padding: 0;
    margin: 0;
}
body{
    background: url(../img/BG1.avif);
}
nav{
    display: flex; 
    padding: 10px;
    background-color: rgb(125 32 127);
}
nav li a {
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: 'Baloo Thambi 2', cursive;
}
nav li :hover {
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(250, 0, 171);
}
.item{
    list-style: none;
}
.container{
    width: 80%;
    margin: 12px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 46px;
}
.mainHeading{
    text-align: center;
    font-family: 'Baloo Thambi 2', cursive;
    padding: 25px;
    font-weight: bold;
}
.secondaryHeading{
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: bold;
    padding: 15px 0px;
}
.tertiatryHeading{
    font-family: 'Baloo Thambi 2', cursive;
    padding: 10px 0px;
}
p, ul>li{
    font-size: 18px;
    justify-content: right;
    font-family: 'Baloo Thambi 2', cursive;
}
#footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}